*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 50%;
    background-color:bisque;
    text-align: center;
    padding: 1% 0 1%;
}
#cord{
    width: 25%;
    padding:25% 10% 20%;
    background-color:rgb(243, 222, 196);
}
#conten{
    display: flex;
    background-color: rgb(203, 193, 180);
}
footer{
    width: 100%;
    padding: 1% 0 1%;
    background-color: rgb(181, 169, 150);
    text-align: center;
}
img{
    width: 55%;
    height: 55%;
}
p{
    padding: 3%;
}