body{
    box-sizing: border-box;
    line-height: 1.4em;
    background-color: paleturquoise;
}
header{
    display: inline-flex;
    width: 100%;
}
#menu{
    display: inline-flex;
    list-style: none;
    margin: 20px 40px;
}
.item{
    margin-left: 20px;
    font-size: 20px;
    /padding-top: 22px;/
    /*  padding-left: 30px;*/
    padding: 20px;
    color: darkorange;
}
.item:hover,.item a.on{
    color: lightseagreen;
    text-decoration: none;
}
.tieudeh1{
    text-align: center;
    margin: 20px 0 0 0;

}
#sanpham1, #sanpham2, #sanpham3{
    display: inline-flex;
}
#sanpham11, #sanpham22{
    display: inline-flex;
}
footer{
    display: inline-flex;
    width: 100%;
    border: 2px solid #000000;
    margin: 80px 0 0 0 ;
    clear:both;

}
#footer1{
    width: 100%;
    display: inline-flex;
}
.ft1{
    padding: 30px;
    width: 30%;

}
#footer2{
    width: 30%;
    padding: 50px;
    justify-content: flex-end;
}
#ft2 {
    width: 30%;
}

#ul1 {
    padding: 0;
}
#ul1 li {
    width: 100px;
}
#ul2{
    padding: 0;
}
#ul2 li {
    width: 100px;
}
#ul2 li a{
    text-decoration: none;
}
.themdo{
    background-color: lightpink;
    text-align: center;

}
.tthemdo{
    display: inline-flex;
    text-align: center;
    margin-left: .5rem;
}
.tien{
    color: deeppink;
    padding: 10px;
    margin: 0 60px 0 0;
}
.xemthem {
    background-color: white;
    text-align: center;
    color: lightseagreen;
    width: 125px;
    height: 40px;
    margin: 240px 0 0 0;
}
button:hover,button a.themdo {
    color: white;
    text-decoration: none;
    background-color: lightseagreen;
}
.danhmuc{
    display: none;
    height: 90%;
    width: 90%;
    background-color: aliceblue;
    margin-top: 1%;
    border: 1px solid rgb(224, 139, 139);
}

a{
    list-style-type: none;
    text-decoration: none;
}
.item:hover .danhmuc{
    display: block;
}